.header {
	padding-left: 20px;
	padding-right: 20px;
}

#home-banner {
	background-image: url("http://theplanetd.com/images/treasure-island-san-francisco-photography-guide.jpg");
	background-size: cover;
	text-align: center;
	background-repeat: no-repeat;
	height: 500px;
}

h2 {
	text-align: center;
}