<!DOCTYPE html>
<html>
<head>
	<title>Urban Overlook</title>

	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="#">Home</a></li>
					<li role="presentation"><a href="#">Places</a></li>
				</ul>
			</nav>
		</div>
		<div class="jumbotron">
			<h1>Welcome to Urban Overlook</h1>
			<h2>The online forum for finding the supremely beautiful vistas near your home cities</h2>
		</div>
	</div>
</body>
</html>