<!DOCTYPE html>
<html>
<head>
	<title>Urban Overlook</title>

	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/app.css">
</head>
<body>
	<div class="container-fixed">
		<div class="header">
			<nav>
				<ul class="nav nav-pills pull-right">
					<li role="presentation" class="active"><a href="#">Home</a></li>
					<li role="presentation"><a href="#">Places</a></li>
				</ul>
			</nav>
			<h3 style="color:orange;">Urban Overlook</h3>
		</div>
		<div class="container-fixed" id="home-banner">
			<!-- <div class="jumbotron" id="home-banner"> -->
				<h1 style="color:white;">Welcome to Urban Overlook!</h1>
				<!-- <h2 style="color:white;">See your city through a new perspective</h2> -->
			<!-- </div> -->
		</div>
	</div>
	<div class="container">
		<h2>What is Urban Overlook?</h2>
		<p>Urban Overlook is place where you and millions of other people can post their favorite vistas of their local cities. The idea is to help city-folk find nearby spots of tranquility where they can view their city from a different angle</p>
	</div>
</body>
</html>